/* RESET DEFAULT STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* MAIN SECTION */

main{
    display: flex;
    padding: 100px 200px;
}

/* INTRO SECTION */
.info{
    width: 40%;
    line-height: 1.5;
    /* background-color: red; */
}

.info h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(47, 46, 65);
}

.info p{
    font-size: 40px;
}


.info p strong{
    color: rgb(47, 46, 65);
}

.info a{
    font-size: 15px;
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-family: sans-serif;
}

/* IMAGE SECTION */
.my-image{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.my-image img{
    width: 100%;
    height: 100%;
    padding: 0px 100px;
}
/* MEDIA QUERY */

@media (max-width: 980px){
    main{
        padding: 100px 20px;
    }
}
@media (max-width: 900px){

    /* MAIN SECTION */
    main{
    display: flex;
    padding: 100px 50px;
    transition: 0.3s;
    }
    
    /* INTRO SECTION */
    .info{
    width: 40%;
    line-height: 1.5;
    }

}

@media (max-width: 690px){
    main{
        flex-direction: column;
        }

    .info{
        width: 100%;
    }

    /* IMAGE SECTION */
    .my-image{
        width: 100%;
        margin-top: 50px;
    }
    
}